.preview-panel{
     /* Match container width */
     margin-top: 60px;
  height: 400px; /* Fixed height */
  border: 1px solid #000; /* Solid border */
  overflow-y: scroll; /* Enable scrolling */
  padding: 8px;
  background-color: #f9f9f9; /* Light gray background */
  box-sizing: border-box; /* Include padding and border in dimensions */
  color: #000;
}