.preview-panel {
  height: 780px;
  /* Fixed height */
  // border: 1px solid #000;
  /* Solid border */
  overflow-y: hidden;
  /* Enable scrolling */
  padding: 0px !important;
  background-color: #f9f9f9;
  /* Light gray background */
  box-sizing: border-box;
  /* Include padding and border in dimensions */
  color: #000;
}