button {
  padding-inline: 10px; /* Horizontal padding */
  margin: 3px; /* Spacing between buttons */
  background-color: #f4f7fa; /* Default background color for buttons */
  border-radius: 20px; /* Rounded corners for buttons */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center; /* Center-align text */
}

i {
  color: #00bdf2; /* Default color for icons */
}