<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid custom-nav">
      <!-- Sidebar toggle button -->
      <button class="btn " style="background-color: white;" (click)="toggleSidebar.emit()">
        <i class="fas fa-bars" style="color: black;"></i> 
      </button>
  
      <!-- Navbar toggler (for responsive view) -->
  
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto d-flex align-items-center">
          <!-- Logo 1 -->
          <img src="./userLogo.svg" alt="Logo 1" class="img-fluid me-3" />
          <!-- Logo 2 -->
          <img src="cdslLogo.png" alt="Logo 2" class="img-fluid" style="margin-top:-7px ;"/>
        </div>
      </div>
    </div>
  </nav>