<div class="editor-container">
  <div class="toolbar">
    <div class="d-flex align-items-center">
      <!-- Display the file name -->
      <span 
      *ngIf="uploadedFileName" 
      class="badge bg-info text-dark me-3 px-3 py-2">
      {{ uploadedFileName }}
    </span>      
      <!-- Upload File Button -->
      <label class="btn btn-success btn-sm mb-0 d-flex align-items-center" for="uploadFile">
        Upload File
        <input 
          type="file" 
          id="uploadFile" 
          (change)="onFileUpload($event)" 
          accept=".html" 
          hidden 
        />
      </label>
      
      <!-- Toggle Editor Button -->
      <button 
        class="btn btn-primary btn-sm ms-3" 
        (click)="toggleEditorVisibility()">
        Toggle Editor
      </button>
    </div>
  </div>

  <!-- Conditional Rendering of Editor -->
  <div *ngIf="isEditorVisible" class="editor-content">
    <angular-editor 
      [(ngModel)]="htmlContent" 
      [config]="config"
      (ngModelChange)="onContentChange()"
    ></angular-editor>
  </div>
</div>
