<div class="editor-container">
  <div class="toolbar">
    <h5>Editor</h5>
    <div class="d-flex align-items-center">
      <!-- Upload File Button -->
      <label class="btn btn-success btn-sm mb-0" for="uploadFile">
        Upload File
        <input 
          type="file" 
          id="uploadFile" 
          (change)="onFileUpload($event)" 
          accept=".html" 
          hidden 
        />
      </label>
      <button class="btn btn-secondary btn-sm" (click)="clearEditor()">Clear</button>
    </div>
  </div>
  <div class="editor-content">
    <angular-editor 
      [(ngModel)]="htmlContent" 
      [config]="config"
    ></angular-editor>
  </div>
</div>
