/* You can add global styles to this file, and also import other style files */
:root {
    --ae-gap: 5px;
    --ae-text-area-border: 1px solid #ddd;
    --ae-text-area-border-radius: 0;
    --ae-focus-outline-color: #afaeae auto 1px;
    --ae-toolbar-padding: 10px;
    --ae-toolbar-bg-color: #f5f5f5;
    --ae-toolbar-border-radius: 5px;
    --ae-button-bg-color: #;
    --ae-button-border: 1px solid #4CAF50;
    --ae-button-radius: 3px;
    --ae-button-hover-bg-color: #45a049;
    --ae-button-active-bg-color: #3e8e41;
    --ae-button-disabled-bg-color: gray;
  }
  